$font-stack: "Montserrat", sans-serif
$app-background: #FFF4EE

*
    font-family: $font-stack
    margin: 0
    padding: 0
    box-sizing: border-box


body
    background: $app-background

.screen
    margin-left: 10%
    min-width: 25rem
    position: relative

@media only screen and (max-width: 50rem)
    .screen
        margin-left: 17%
        min-width: 25rem
        position: relative
